node1/geth/
node1/keystore/
node1/geth.ipc
node1/password.txt

node2/geth/
node2/keystore/
node2/geth.ipc
node2/password.txt

node3/geth/
node3/keystore/
node3/geth.ipc
node3/password.txt

node4/geth/
node4/keystore/
node4/geth.ipc
node4/password.txt

geth.ipc